<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <h1>Book list</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Category</th>
        </tr>

        <tr th:each="book : ${books}">
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getBookAuthor().getName()}"></td>
            <td th:text="${book.getBookPublisher().getName()}"></td>
            <td th:text="${book.getBookCategory().getName()}"></td>
        </tr>
    </table>

    <h1>Add new book</h1>
    <form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
        <p>Book title: <input type="text" th:field="*{title}"/></p>
        <p>Book author: <input type="text" th:field="*{bookAuthor.name}"/></p>
            <label>Book category: </label>
        <select th:field="*{bookCategory.id}">
            <option th:each="cat : ${categories}"
                    th:value="${cat.getId()}"
                    th:text="${cat.getName()}"  ></option>
        </select>

            <label>Book publisher</label>
        <select th:field="*{bookPublisher.id}">
            <option th:each="pub : ${publishers}"
                    th:value="${pub.getId()}"
                    th:text="${pub.getName()}"  ></option>
        </select>

        <p><input type="submit" value="Add book" /></p>

    </form>

</div>
</body>
</html>